@font-face {
	font-family: 'NotoSansJP';
	src: url(fonts/NotoSansJP-VariableFont_wght.ttf);
}

body {
	font-family: NotoSansJP;
    background-color: #2c2f33;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #000000;
    padding-top: 5px;
    box-sizing: border-box;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style: none;
    margin-right: 35px;
}

nav > ul > li > a {
    color: #cccccc;
}

nav > ul > li > a:hover {
    color: #ffffff;
    transform: scale(1.5);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url("images/background.jpg");
    background-size: contain;
    width: 100%;
    height: 300px;
    padding-top: 300px;
    text-align: center;
}

header > h1 {
    font-size: 48px;
}

header > p {
    font-size: 24px;
}

a.button {
    font-size: 30px;
    background-color: #5865F2;
    color: #ffffff;
    width: 150px;
    margin: auto;
    border-radius: 4px;
}

div.detail {
    color:#cccccc;
}

footer {
    padding-left:550px;
    background-color: #000000;
    display: flex;
    margin: auto;
}

footer > img {
    width: 200px;
    height: 200px;
}

footer > div.footer_content {
    margin-left: 20px;
    margin-top: 24px;
}