<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&████ - 蛙鳴蝉噪</title>
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body style="font-family: NotoSansJP; background-color: #2c2f33; color: #ffffff; margin: 0px; text-align: center;">
    <nav style="position: fixed; width: 100%; height: 64px; background-color: #000000; padding-top: 5px;">
        <ul style="display: flex;">
            <li><img src="./static/images/icon.png" alt="icon" width="32px" height="32px"></li>
            <li class="titleblur">&████ - 蛙鳴蝉噪</li>
            <li><a href="#">HOME</a></li>
            <li><a href="https://discord.gg/GjTAzQ3Ftw">Discord</a></li>
            <li><a href="https://twitter.com/Nakanidasuze">Twitter</a></li>
            <li><a href="https://w.atwiki.jp/romeda/">Wiki</a></li>
        </ul>
    </nav>
    <header style="background: linear-gradient(#000000, #2c2f33); background-size: contain; width: 100%; padding-top: 200px; text-align: center;">
        <span class="titleblur" style="font-size: 48px;">&████</span>
        <p style="font-size: 24px;"><a href="#chaos" style="display: inline; text-decoration: underline;">カオス</a>で<a href="#active" style="display: inline; text-decoration: underline;">アクティブ</a>な雑談サーバー</p>
        <a style="font-size: 30px; background-color: #5865F2; color: #ffffff; width: 150px; margin: auto; border-radius: 4px;" href="https://discord.gg/GjTAzQ3Ftw">参加する</a>
        <div class="members" style="margin-top: 25px;">
            <img src="./static/images/members/748459928917639268.png" alt="avatar" style="border-color: #AC43F7;">
            <img src="./static/images/members/1038666112553996289.png" alt="avatar" style="border-color: #BDFDB3;">
            <img src="./static/images/members/662156248736595969.png" alt="avatar" style="border-color: #BDFDB3;">
            <img src="./static/images/members/417289506283061248.png" alt="avatar" style="border-color: #9DD0FB;">
            <img src="./static/images/members/1023865342814064701.png" alt="avatar" style="border-color: #947CF6;">
            <img src="./static/images/members/940060657439629323.png" alt="avatar" style="border-color: #947CF6;">
            <img src="./static/images/members/517114425614794783.png" alt="avatar" style="border-color: #947CF6;">
            <img src="./static/images/members/1182194842386829364.png" alt="avatar" style="border-color: #947CF6;">
            <img src="./static/images/members/724745429534900336.png" alt="avatar" style="border-color: #F4BA8A;">
            <img src="./static/images/members/592044869179146260.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/866989436311175178.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/884001367566458930.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/1189832577335439472.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/796390877093691412.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/818489382109315092.png" alt="avatar" style="border-color: #6EE370;">
            <br>
            <img src="./static/images/members/497947052362301441.png" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/maple.jpg" alt="avatar" style="border-color: #6EE370;">
            <img src="./static/images/members/690834016290734160.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/1063657139215806524.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/900649373338329129.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/610871801911705641.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/957653119410528256.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/908845250175455312.png" alt="avatar" style="border-color: #FEFA7F;">
            <img src="./static/images/members/1193051405250998313.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/938771602089336912.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/1187405665971486780.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/1030579058775441438.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/1181910353517498371.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/1139396810914402329.png" alt="avatar" style="border-color: #EB6661;">
            <br>
            <img src="./static/images/members/885506178573041684.png" alt="avatar" style="border-color: #EB6661;">
            <img src="./static/images/members/1161103853115150387.png" alt="avatar" style="border-color: #80A0F7;">
            <img src="./static/images/members/1187285293901021194.png" alt="avatar" style="border-color: #80A0F7;">
            <img src="./static/images/members/1200835605504987289.png" alt="avatar" style="border-color: #80A0F7;">
            <img src="./static/images/members/962528353510883362.png" alt="avatar" style="border-color: #58BB9F;">
            <img src="./static/images/members/717645209068109866.png" alt="avatar" style="border-color: #58BB9F;">
            <img src="./static/images/members/1194907905300910112.png" alt="avatar" style="border-color: #A6F3F9;">
            <img src="./static/images/members/916248813591736331.png" alt="avatar" style="border-color: #EB61AC;">
            <img src="./static/images/members/1022441426174345246.png" alt="avatar" style="border-color: #EB61AC;">
            <img src="./static/images/members/1160516671497314345.png" alt="avatar" style="border-color: #EE7DF3;">
            <img src="./static/images/members/1087656694517071902.png" alt="avatar" style="border-color: #EE7DF3;">
            <img src="./static/images/members/1098382059426291832.png" alt="avatar" style="border-color: #EE7DF3;">
            <img src="./static/images/members/988420242852180038.png" alt="avatar" style="border-color: #EE7DF3;">
            <img src="./static/images/members/1130496348731482113.png" alt="avatar" style="border-color: #EE7DF3;">
            <img src="./static/images/members/1155819586038538280.png" alt="avatar" style="border-color: #EE7DF3;">
        </div>
        
    </header>
    <div class="sections" style="text-align: left; margin-left: 20%; margin-right: 20%;">
        <h1 id="chaos">カオス</h1>
        <p>他のサーバーで禁止されがちな宣伝・即抜け・引き抜きや<br>下ネタ・暴言・不謹慎発言・エロ画像は禁止していません</p>
        <h1 id="active">アクティブ</h1>
        <p>ディスコード速報のアクティブランキングでは<br>常に上位へのランクインを維持しています<br>現在のアクティブランキングは{{dissoku_rank}}位です</p>
        <h1>歴史</h1>
        <p>当サーバーは2024年2月で設立6周年を迎えます。<br>現在Discord上で活動を続けている日本の雑談サーバーの中でも<br>特に長い歴史を持つサーバーの一つです</p>
        <h1>ルール</h1>
        <p>コミュニケーションをより迅速に行うためにはルールが不可欠です<br>当サーバーでは必要最低限のルールが制定されています</p>
    </div>
    <footer style="background: linear-gradient(#2c2f33, #000000); display: flex; justify-content: center;">
        <img src="./static/images/icon.png" style="width: 200px; height: 200px; margin-top: 10px; margin-bottom: 10px;" alt="アイコン">
        <div style="margin-left: 20px; margin-top: 24px;">
            <span style="font-size: 20px;">Socials</span><br>
            <div class="footer-link-container">
                <a href="https://discord.gg/GjTAzQ3Ftw">Discord</a>
                <a href="https://twitter.com/Nakanidasuze">Twitter</a>
                <a href="https://w.atwiki.jp/romeda/">Wiki</a>
            </div>
            <div class="footer-link-container">
                <a href="https://disboard.org/ja/server/1187388265720979486">DISBOARD</a>
                <a href="https://dissoku.net/ja/server/1187388265720979486">Dissoku</a>
                <a href="https://dicoall.com/ja/server/1187388265720979486">Dicoall</a>
            </div>
            <p>© 2024 &████</p>
        </div>
    </footer>
    </div>
</body>
</html>